.tab_icon {
  font-size: 1.5rem;
}
.tabs_main > div > div {
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 3rem;
}

@media (max-width: 500px) {
  .tabs_main > div > div {
    display: flex !important;
    gap: 0rem !important;
    padding: 0;
  }
  .css-15dm1r7-MuiButtonBase-root-MuiTab-root > .MuiTab-iconWrapper {
    font-size: 1.3rem !important;
  }

  .css-15dm1r7-MuiButtonBase-root-MuiTab-root {
    font-size: 0.9rem !important;
    min-width: 0px !important;
  }
}

@media (max-width: 350px) {
  .css-15dm1r7-MuiButtonBase-root-MuiTab-root > .MuiTab-iconWrapper {
    font-size: 1.1rem !important;
  }

  .css-15dm1r7-MuiButtonBase-root-MuiTab-root {
    font-size: 0.7rem !important;
  }
}
