@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: 0.5s;
  outline: none;
}

.faq-title {
  font-size: 1.8rem;
  padding: 10px;
  color: #000;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  /* color: #475f7b; */
  overflow: hidden;
  mix-blend-mode: 2rem;
}
.rc-accordion-toggle {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  justify-content: space-between;
  background-color: #fff;
  transition: 0.3s;
  padding: 12px;
}

.rc-accordion-toggle.active {
  /* background-color: #f2ecff; */
  color: #000;
}

.rc-accordion-toggle.active .rc-accordion-icon {
  transform: rotate(180deg);
  color: var(--textGray);
}
.rc-accordion-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
.rc-accordion-card:last-child {
  margin-bottom: 0;
}
.rc-accordion-title {
  font-weight: 500;
  font-size: 18px;
  position: relative;
  margin-bottom: 0;
  transition: 0.3s;
}
.rc-accordion-toggle.active .rc-accordion-title {
  color: var(--textGray);
}
.rc-accordion-icon {
  position: relative;
  top: 2px;
  color: #475f7b;
  transition: 0.35s;
  font-size: 14px;
}
.rc-accordion-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 15px;
}
.rc-accordion-body p {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #727e8c;
}
.rc-collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.rc-collapse.show {
  height: auto;
}

@media (max-width: 500px) {
  .rc-accordion-title {
    font-size: 13px;
  }
  .rc-accordion-body p {
    font-size: 12px;
    line-height: 16px;
  }

  .faq-title {
    font-size: 1.4rem;
  }

  .card {
    padding: 0px;
  }
}

@media (max-width: 350px) {
  .faq-title {
    font-size: 1.2rem;
  }
}
