.dates_wrapper {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.dates_container > h1 {
  color: rgba(10, 75, 122, 1);
}

.dates_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.dates_container > p {
  color: rgba(51, 51, 51, 0.75);
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.7rem;
  width: 70%;
}

@media (max-width: 768px) {
  .dates_container > p {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .dates_container > h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}
