.reset_password_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.reset_password_left {
    flex: 1;
    height: 99vh;
}

.reset_password_right {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.reset_password_right_img {
    width: 332px;
    height: 332px;
    flex-shrink: 0;
}

.reset_password_input {
    width: 310px;
    border-radius: 30px;
    border: 2px solid #C6C6C6;

    background: #FFF;
}

.reset_password_right_title {
    color: #333;

    font-family: Noto Sans Devanagari;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}



.reset_password_right_input_container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.reset_password_forgetPassword {
    margin-top: 20px;
    color: var(--Primary--Color, rgba(150, 3, 242, 0.75));
    font-family: Noto Sans Devanagari;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.reset_password_right_button {
    margin-top: 20px;
    color: #FFF;
    width: 310px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--Primary--Color, rgba(150, 3, 242, 0.75));
}

.reset_password_right_sign_in_with {
    margin-top: 20px;
    color: #A7A7A7;

    font-family: Noto Sans Devanagari;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reset_password_right_google {
    margin-top: 20px;
    border-radius: 34.084px;
    background: #FFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.reset_password_right_register {
    margin-top: 20px;
    color: #807E7E;

    font-family: Noto Sans Devanagari;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reset_password_right_register span {
    color: var(--Primary--Color, rgba(150, 3, 242, 0.75));
    font-family: Noto Sans Devanagari;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}