.pattern_wrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.patter_container {
  background: rgba(10, 75, 122, 0.04);
  padding: 2rem;
  border-radius: 20px;
}

.patter_container > h1 {
  color: rgba(10, 75, 122, 1);
  text-align: center;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 3rem;
  background: #fff;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  text-align: center;
}

.custom-table tr {
  border-radius: 10px;
  color: rgba(51, 51, 51, 0.75);
}

.custom-table th {
  background-color: #f2f2f2;
}

.custom-table > tbody {
  margin-top: 2rem;
}
