.leader_board_wrapper {
  margin-bottom: 1remc;
}

.leader_board_container {
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  border-radius: 10px;
}

.board_upper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  background: rgba(242, 236, 255, 1);
  border-radius: 10px 10px 0px 0px;
}

.board_upper > img {
  width: 6rem;
}

.board_upper > h1 {
  font-size: 1.4rem;
}

.board_lower_result {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: center;
  gap: 10px;
  overflow-y: scroll;
  border-radius: 0px 0px 10px 10px;
}

.result_data {
  padding: 1rem;
}

table {
  width: 100%;
  border-spacing: 0px;
  height: 10vh;
}

th {
  font-weight: 500;
  padding: 1rem;
  font-size: 15px;
  background-color: #9603f2;
  color: #fff;
}

tr {
  padding: 1rem;
}

.result_data > td {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.result_data:hover {
  background: #efefef;
}

@media (max-width: 500px) {
  .board_upper > img {
    width: 4rem;
  }

  .board_upper > h1 {
    font-size: 1rem;
  }

  table {
    height: 7vh;
  }

  th {
    font-size: 13px;
    padding: 10px;
  }
}
