.syllabus_wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.syllabus_container > h1 {
  color: rgba(10, 75, 122, 1);
}

.syllabus_upper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgba(3, 148, 71, 0.08);
  color: rgba(3, 148, 71, 1);
  margin-top: 2rem;
  border-radius: 5px 5px 0px 0px;
}

.syllabus_upper > h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.syllabus-table {
  margin-top: -5px;
}
