/* .after_login_banner > img {
  width: 100%;
}
.after_login_banner {
  padding: 0px 20px;
}

.css-kw0y8f-MuiSvgIcon-root,
.css-1ko0ule-MuiButtonBase-root-MuiIconButton-root {
  color: #000 !important;
}

.after_login_lower_container > h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  background: #fff !important;
}

.css-1191obr-MuiPaper-root-MuiAppBar-root {
  background: #fff !important;
}



.css-14wfnfu {
  width: 70% !important;
  padding: 24px 0px !important;
}
.css-hyum1k-MuiToolbar-root {
  min-height: 70px !important;
}

.search-box > input {
  color: #000;
}
@media (max-width: 550px) {
  .afterlogin_search {
    display: none;
  }

  
} */
