.jobpage_wrapper {
  width: 100%;
  margin-top: 10px;
}

.jobpage_wrapper > img {
  width: 100%;
}

.jobpage_header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.jobpage_header > p {
  font-weight: 500;
}

.jobpage_lower_container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.job_header_blogs > p {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.jobpage_left {
  width: 100%;
}

.jobpage_right {
  width: 30%;
}

.latest_blogs_container {
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
  /*padding: 10px;
  */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.latest_blogs_container > h3 {
  background: #b042f5;
  padding: 12px;
  color: white;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}

.latest_blogs {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 10px;
  cursor: pointer;
}

.latest_blogs > p {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: capitalize;
}

.latest_blogs > p:hover {
  color: #b042f5;
}

.blog_youtube,
.job_courses {
  margin-top: 2rem;
  border: 1px solid #efefef;
  padding-bottom: 2rem;
}

.blog_youtube > p {
  padding: 15px;
  color: var(--primaryColor);
  font-weight: 600;
}

.job_courses > p {
  padding: 15px;
  color: var(--primaryColor);
  font-weight: 600;
}

.job_counselling {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .jobpage_lower_container {
    display: flex;
    flex-direction: column;
  }

  .jobpage_right {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .counseling-right > img {
    width: 13rem;
    margin-top: -5px;
  }

  .jobpage_left {
    margin-left: 1rem;
  }
}

@media (max-width: 350px) {
  .jobpage_left {
    margin-left: -0.1rem;
  }
}
