.before_class_wrapper > h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  font-size: 1.5rem;
}

.back-arrow-btn {
  cursor: pointer;
}

.before_classes_inner {
  margin: 2rem;
  box-shadow: 1px 5px 12px 3px rgba(54, 54, 54, 0.1);
  border-radius: 10px;
}

.before_classes_inner > h2 {
  padding: 1.2rem;
  font-size: 1.4rem;
}

.before_class_container {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.before_class_box {
  box-shadow: 1px 5px 12px 2px rgba(54, 54, 54, 0.1);
  height: 200px;
  width: 200px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 10px;
}

.before_class_box > img {
  width: 3.6rem;
  border-radius: 4px;
}

.before_class_box > h2 {
  font-size: 1.4rem;
  margin-top: 5px;
}

.before_class_box > p {
  color: var(--textGray);
}

@media (max-width: 768px) {
  .before_class_container {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .before_class_container {
    width: 100% !important;
  }
  .lock-lec-btn {
    width: 2rem;
  }
}
